/* NOTE: This CSS is setted for Mobile First */

/* ===== Google Fonts ==== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* START FOR MOBILE DESIGN */
/* ===== START: ROTE */
    /* ----- Start: Variable CSS ----- */
        :root {
            /* ----- Colours ----- */
            --brand-normal: #FD4A4A;
            --brand-hover: #CB3E3E;
            --brand-accent: #FC6849;
            --text-heading: #274052;
            --text-content: #434a4e;
            --text-light: #F9FAFA;
            --body-color: #F6F8FD;
            --element-color: #eff4fd;
            --shadow: rgba(252, 210, 210, 0.123);
            /* ----- Font and Typography ----- */
            --body-font: 'Poppins', sans-serif;
            --title-font-size: 3.5rem;
            --big-font-size: 3rem;
            --medium-font-size: 2.5rem;
            --small-font-size: 2rem;
            --smaller-font-size: 1.5rem;
            --smallest-font-size: 1.2rem;
            --body-font-size: 1rem;
            /* ----- Font Weight ----- */
            --font-bold: 700;
            --font-medium: 500;
            --font-reguler: 400;
            --font-light: 300;
        }
    /* ----- End: Variable CSS */

    /* ----- Start: Starter ----- */
        *, ::before, ::after {
            box-sizing: border-box;
            padding: 0;
        }
        body {
            margin: 0;
            font-family: var(--body-font);
            font-size: var(--normal-font-size);
            background-color: var(--body-color);
            color: var(--text-content);
            font-size: 16px;
        }
        h1, h2, h3, h4, h5, h6, ul, p {
            margin: 0;
            padding: 0;
        }
        h1 {
            font-size: var(--title-font-size);
            font-weight: var(--font-bold);
            color: var(--text-heading);
            margin-bottom: 16px;
        }
        h2 {
            font-size: var(--big-font-size);
            font-weight: var(--font-bold);
            color: var(--text-heading);
            margin-bottom: 16px;
        }
        h3 {
            font-size: var(--body-font-size);
            font-weight: var(--font-light);
            color: var(--text-heading);
            margin-bottom: 16px;
        }
        h4 {
            font-size: var(--smaler-font-size);
            font-weight: var(--font-bold);
            color: var(--text-heading);
            margin-bottom: 16px;
        }
        h5 {
            font-size: var(--smallest-font-size);
            font-weight: var(--font-bold);
            color: var(--text-heading);
            margin-bottom: 16px;
        }
        h6 {
            font-size: var(--body-font-size);
            font-weight: var(--font-bold);
            color: var(--text-heading);
            margin-bottom: 16px;
        }
        p {
            font-size: var(--body-font-size);
            font-weight: var(--font-light);
            color: var(--text-content);
            margin-bottom: 24px;
        }
        ul {
            padding: 0;
            list-style: none;
        }
        a {
            text-decoration: none;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    /* ----- End: Starter */
/* ===== END: ROOT ===== */

/* ===== START: RESTYLING BOOTSTRAP CSS ===== */
    /* ----- Start: Header ----- */
    .header header .dropdown-wrapper {
        position: relative;
    }
    .navbar .container {
        background-color: var(--body-color);
    }
    .navbar-collapse {
        flex-grow: 0;
        margin: 16px;
        background-color: var(--element-color);
        border-radius: 16px;
        position: absolute;
        top: 64px;
        left: -10px;
        width: 95%;
        z-index: 99;
    }
    .navbar-toggler, .navbar-toggler:focus {
        border-color: transparent !important;
        box-shadow: 0 0 4px 100px rgba(0,0,0,.0) !important;
    }
    header li {
        padding: 16px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-link:hover, .nav-link.active {
        color: var(--brand-normal) !important;
    }
    /* ----- End: Header ----- */
/* ===== END: RESTYLING BOOTSTARP CSS ===== */

/* ===== START: BASE CUSTOM CSS BY FAZANASH ===== */
    /* ----- Start: Container ----- */
    .container-tkg-dbl {
        padding: 32px 20px;
        display: flex;
        flex-direction: column;
    }
    .container-tkg-sgl, .container-tkg-dbl.container-not-hero {
        padding: 0 20px 64px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /* ----- End: Container ----- */

    /* ----- Start: Heading ----- */
    .container.hero .double-column {
        padding-bottom: 24px;
    }
    .double-column {
        justify-content: center;
        align-items: center;
    }
    .container-not-hero .heading {
        padding: 0 0 24px 0;
        text-align: center;
    }
    .title.not-hero {
        font-size: var(--small-font-size);
    }
    .sub-title {
        text-transform: uppercase;
        letter-spacing: 2.5px;
        display: inline-block;
        padding: 8px;
        position: relative;
        color: var(--brand-normal);
    }
    .sub-title.line {
        margin-left: 35px;
        color: var(--text-heading);
    }
    .sub-title.line::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        border-radius: 50px;
        left: -35px;
        bottom: 50%;
        background-color: var(--brand-normal);
    }
    .description {
        line-height: 30px;
    }
    /* ----- End: Heading ----- */

    /* ----- Start: Button Toekang ----- */
    .btn-tkg {
        padding: 16px 24px;
        border-radius: 16px;
    }
    .btn-tkg-border {
        border: 1px solid var(--brand-normal);
        color: var(--text-heading);
    }
    .btn-tkg-border:hover {
        border: 1px solid var(--brand-normal);
        background-color: var(--brand-normal);
        color: var(--text-light);
        box-shadow: 4px 4px 2px 16px var(--shadow);
    }
    .btn-tkg-filled {
        background-color: var(--brand-normal);
        color: var(--text-light);
    }
    .btn-tkg-filled:hover {
        background-color: var(--brand-hover);
        color: var(--text-light);
    }
    /* ----- End: Button Toekang ----- */
/* ===== END: BASE CUSTOM CSS BY FAZANASH ===== */

/* ===== START: SECTIONS ===== */
    /* ----- Start: Hero ----- */
    .hero-image {
        position: relative;
        padding-top: 24px;
    }
    .ornament {
        position: absolute;
        width: 50%;
    }
    .ornament.first {
        left: 0;
        width: 35%;
    }
    .ornament.second {
        right: -20px;
    }
    .ornament.third {
        left: 0;
        bottom: -25px;
    }
    /* ----- End: Hero ----- */

    /* ----- Start: Skills ----- */
    .double-column.skills-detail {
        flex-direction: row;
        justify-content: space-between;
        flex-basis: 60%;
    }
    .double-column.skills-detail .first, .double-column.skills-detail .second {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 50%;
    }
    .card {
        background-color: var(--element-color);
        padding: 48px;
        margin: 20px;
        height: 85%;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
        border-radius: 16px;
        transform: translateY(0);
        transition-duration: 1.5s;
        text-align: left;
    }
    .card:hover {
        transform: translateY(-25px);
    }
    .card-body {
        padding: 0;
    }
    .card img {
        width: 72px;
        margin-bottom: 24px;
    }
    .card-text {
        font-size: 16px;
    }
    /* ----- End: Skills ----- */

    /* ----- Start: Profile ----- */
    .video  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .tv-mask {
        width: 100%;
    }
    .cover  {
        position: absolute;
        top: 3%;
        height: 170px;
        width: 95%;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cover .imagery-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }
    .cover .cover-img {
        width: 100%;
    }
    .cover-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(45deg, var(--brand-normal), var(--brand-accent));
        opacity: 0.5;
        z-index: 50;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .video button .bi {
        color: var(--text-light);
        font-size: var(--medium-font-size);
    }
    .video .btn:hover, .video .btn:focus {
        border: none;
    }
    /* ----- End: Profile ----- */
/* ===== END: SECTIONS ===== */
/* END: FOR MOBILE DESIGN */

/* ===== Start: Potrait Tablet ===== */
@media (min-width:361px) {
    /* ----- Start: Header ----- */
    .navbar-collapse {
        background-color: transparent;
        position: unset;
        width: unset;
}
    header li {
        padding: 16px 24px;
        position: relative;
    }
    header .nav-item:hover a::after {
        position: absolute;
        border-radius: 50px;
        left: 45%;
        bottom: 24%;
        content: "";
        width: 15px;
        height: 3px;
        background-color: var(--brand-normal);
    }
    /* ----- End: Header ----- */

    /* ----- Start: Profile ----- */
    .tv-mask {
        width: 100%;
    }
    .cover  {
        border-radius: 8px;
        top: 20%;
    }
    .cover .imagery-wrapper {
        width: 96%;
    }
    .cover .cover-img {
        width: 100%;
    }
    /* ----- End: Profile ----- */
}
/* ===== End: Potrait Tablet ===== */

/* ===== Start: Landscape Tablet ===== */
@media (min-width:768px) {
    /* ===== START:  SECTIONS ===== */
        /* ----- Start: Skills ----- */
        .double-column.skills-detail {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-basis: 50%;
        }
        .double-column.skills-detail .first, .double-column.skills-detail .second {
            display: flex;
            flex-direction: column;
        }
        /* ----- End: Skills ----- */

        /* ----- Start: Profile ----- */
        .tv-mask {
            width: 90%;
        }
        .cover  {
            top: 24%;
        }
        .cover .imagery-wrapper {
            width: 90%;
        }
        /* ----- End: Profile ----- */
    /* ===== END: SECTIONS ===== */
}
/*  ===== End: Landscape Tablet ===== */

/* ===== Start: Dekstop ===== */
@media (min-width:1200px) {
    /* ===== START: BASE ===== */
        /* ----- Start: Root ----- */
        :root {
            --title-font-size: 5rem;
            --big-font-size: 4.5rem;
            --medium-font-size: 4rem;
            --small-font-size: 3.5rem;
            --smaller-font-size: 3rem;
            --smallest-font-size: 1.5rem;
            --body-font-size: 1.4rem;
        }
        /* ----- End: Root ----- */

        /* ----- Start: Container ----- */
        .container-tkg-sgl, .container-tkg-dbl.container-not-hero, .container-tkg-dbl.hero {
            padding: 0 20px 128px 20px;
            flex-direction: row;
            align-items: center;
            text-align: left;
        }
        .container .double-column {
            flex-basis: 50%;
        }
        /* ----- End: Container ----- */

        /* ----- Start: Heading ----- */
        .container-tkg-dbl {
            justify-content: center;
            align-items: center;
            flex-basis: 50%;
            display: flex;
            flex-direction: row;
        }
        .container-tkg-dbl .heading {
            padding-right: 96px;
        }
        .container-not-hero .heading {
            padding: 0 0 96px 0;
            text-align: left;
        }
        .description {
            line-height: 40px;
        }
        /* ----- End: Heading ----- */
    /* ===== END: BASE ===== */

    /* ====== START: SECTIONS ===== */
        /* ---- Start: Hero ----- */
        .ornament {
            position: absolute;
            width: 40%;
        }
        .ornament.first {
            left: 0;
            width: 25%;
        }
        .ornament.second {
            right: -60px;
            top: 100px;
        }
        .ornament.third {
            left: 0;
            bottom: -25px;
        }
        /* ----- End: Hero ----- */

        /* ----- Start: Skills ----- */
        .card {
            height: 20rem;
            width: 20rem;
        }
        /* ----- End: Skills ----- */

        /* ----- Start: Profile ----- */
        .tv-mask {
            width: 100%;
        }
        .cover  {
            top: 24%;
        }
        .cover .imagery-wrapper {
            width: 75%;
        }
        /* ----- End: Profile ----- */

    /* ===== END: SECTIONS ===== */
}
/* ===== End: Dekstop ===== */

/* ===== Start: Widescreen ===== */
@media (min-width:1920px) {

}
/* ===== End: Widescreen ===== */